<div class="container contacts">
	<delete-contact-model contact="addressBook.contactToDelete"></delete-contact-model> 
	<h3 ng-show="!addressBook.contacts">There aren't any contacts here. To add one click "New Contact".</h3>
	<div class="entry clearfix" ng-repeat="contact in addressBook.contacts | filter:{fullName:search} | orderBy:'fullName' track by $index">
		<a href="" data-toggle="modal" data-target=".modal__view-contact" ng-click="addressBook.contactToView = contact">{{contact.fullName}}</a>
		<div class="btn-group pull-right manage"> 
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
				Manage <span class="caret"></span>
			</button>
			<ul class="dropdown-menu contact-menu">
				<li><a href="" data-toggle="modal" data-target=".modal__view-contact" ng-click="addressBook.contactToView = contact">View</a></li>
				<li><a href="">Edit</a></li>
				<li>
					<a href="" data-toggle="modal" data-target=".modal__delete-contact" ng-click="addressBook.contactToDelete = contact">Delete</a>
				</li>
			</ul>
		</div>
	</div>
</div>



