<html ng-app="app">
<head>
	<title>Angular Address Book</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/app.js"></script>
</head>
<body>


<div class="modal fade modal__add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactModel" ng-controller="formController as contactsForm">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="exampleModalLabel">New Contact</h4>
			</div>
			<form id="add-contact">
				<div class="modal-body">
					<div class="form-group">
						<label for="recipient-name" class="control-label">First Name:</label>
						<input type="text" class="form-control" name="first-name" id="first-name" required>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Last Name:</label>
						<input type="text" class="form-control" name="last-name" id="last-name" required>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Email Address:</label>
						<input type="email" class="form-control" name="email-address" id="email-address" required>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Telephone Number:</label>
						<input type="text" class="form-control" name="telephone-number" id="telephone-number" required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="contactsForm.closeForm()">Close</button>
					<button type="submit" data-dismiss="modal"  ng-click="contactsForm.submitForm()" class="btn btn-primary">+ Add Contact</button>
				</div>
			</form>
		</div>
	</div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top"> 
	<div class="container">
		<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".modal__add-contact">+ New Contact</button>
	</div> 
</nav>

<div class="jumbotron">
	<div class="container">
		<h1>Address Book</h1>
		<p>View your address book below. Add, update and delete entries at will. Click on an entry for more information.</p>
		<div id="search" class="input-group input-group-lg">
		  <span class="input-group-addon" id="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
		  <input type="text" class="form-control" placeholder="Search" aria-describedby="search" ng-model="search">
		</div>
	</div>
</div>

<div class="container contacts" ng-controller="contactsController as addressBook">

	<div class="modal fade modal__delete-contact" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Are you sure you want to delete {{addressBook.contactToDelete.fullName}}?</h4>
				</div>
				<div class="modal-body text-center">
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="addressBook.deleteContact(addressBook.contactToDelete)">Delete</button>
					<button type="button" class="btn" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div> 
	</div>

	<h3 ng-show="!addressBook.contacts">There aren't any contacts here. To add one click "New Contact".</h3>

	<div class="entry clearfix" ng-repeat="contact in addressBook.contacts | filter:{fullName:search} | orderBy:'fullName' track by $index">
		<a href="">{{contact.fullName}}</a>
		<div class="btn-group pull-right manage">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
				Manage <span class="caret"></span>
			</button>
			<ul class="dropdown-menu contact-menu">
				<li><a href="">View</a></li>
				<li><a href="">Edit</a></li>
				<li>
					<a href="" data-toggle="modal" data-target=".modal__delete-contact" ng-click="addressBook.contactToDelete = contact">Delete</a>
				</li>
			</ul>
		</div>
	</div>

</div>



</body>
</html>